// Primary Text
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

// Netural Text
$darkGray: hsl(0, 0%, 59%);

// Body Copy (name and stats)
$font-reg: 1.125rem; // 18px
